<!DOCTYPE html>
<html lang="en">
  <%- include("../includes/head") %>
      <link rel="stylesheet" href="/styles/main.css">
      <link rel="stylesheet" href="/styles/home.css">
    <title>Home</title>
  </head>
  <body>
    <div class="wrapper">
      <%- include("../includes/header", {title: "New Article", admin: true}) %>

      <form class="form" action="/admin/new" method="post">
        <input class="form_input" name="title" type="text" placeholder="Article title">

        <textarea class="form_input" name="text" placeholder="Content"></textarea>

        <button class="form_btn" type="submit">Publish</button>
      </form>
    </div>
  </body>
</html>
