.main {
    text-align: center;
}

.articles {
    display: inline-flex;
    flex-direction: column;

    row-gap: 12px;
    padding: 12px;

    align-items: center;
}

.article,
.article > a {
    display: inline-flex;

    justify-content: space-between;

    width: 400px;
}

.article_controls {
    display: flex;
    flex-flow: row;

    gap: 12px;
}
